body {
  padding: 20px;
  background-color: #FFD7AA;
}

h1 {
  padding: 5px;
  font-family: sans-serif;
  color: #804D15;
}
#map1 {
  padding: 10px;
  width: 500px;
  height: 235px;
     
      }






/* colors: bg FFD7AA font 804D15 other 804D15 */